body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  background-color: #cec4c4; /* For browsers that do not support gradients */
  opacity:0.92;
  /*
  background: -webkit-linear-gradient(left,rgba(255,190,190,1),rgba(255,190,190,1)); 
  background: -o-linear-gradient(right,rgba(255,190,190,1),rgba(255,190,190,1)); 
  background: -moz-linear-gradient(right,rgba(255,190,190,1),rgba(255,190,190,1)); 
  background: linear-gradient(to right, rgba(255,190,190,1) rgba(255,190,190,1)); */
}

#background_image {
    background: url(../images/flight.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
#styleLink{
	
	font-weight:900;
	font-size:x-large;
	font-style:italic;
	color:#c9302c;
}


.btn1 {
    width: 200px;
}

#page_content {
    margin-top: 20px;
}

.book {
	   
	
    padding-left: 25px;
}

#registration_content{
	 margin-top: 15px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 0px;
}

.table{
    background-color: #f5f5f5;
}


.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session-bg
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}



.icon-size1
{
    font-size: 20px;
}

.changeFont{
	
	color:#000000;
}